@import "../../styles/main.styles";

.sideNav {
  @extend %width-300px;
  @include border(rgba(0, 0, 0, 0.25), 1px, solid, right);
  @extend %position-fixed;
  @extend %overflow-scroll;
  @extend %height-allPage;
}

.logo {
  @extend %width-200px;
  @include margin-perc(15%, top);
  @extend %center-horizontal;
}

a {
  @extend %text-color-primary;
}

.sub-section-link {
  @include margin-perc(10%);
  width: 100%;
  @extend %text-color-highlight;
}

.sub-section-link a {
  @extend %text-color-highlight;
}

a:hover {
  @extend %text-color-key;
  text-decoration: none;
}

.card {
  @include border(#000000, 0px, none, top, right, left);
  @include border(white, 1px, solid, bottom);
}

.card-header {
  @extend %bg-color-highlight-gray;
  @include border-radius((top-right:0px, top-left:0px, bottom-right:0px, bottom-left:0px));
  background-color: #ffffff;
}

#accordion {
  @include margin-perc(15%, top);
}
.icons{
  text-align: center;
}
.grow {
  transition: all .2s ease-in-out;
  width:15%;

  @include margin-perc(5%,top,left,right);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.grow:hover {
  transform: scale(1.1);
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.down-arrow{
  @include margin-perc(3%,top,right);
  width:5%;
  float:right;
}
