<div class="sideNav">
  <img class="logo" src="../../../assets/logo/MK-initials.svg"/>
  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
             aria-controls="collapseOne">
            Overview
            <img class="down-arrow" src="../../../assets/icons/down-arrow.svg"/>
          </a>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          <p class="sub-section-link"><a routerLink="/introduction">Introduction</a></p>
          <p class="sub-section-link"><a routerLink="/code-guidelines">Code Guidelines</a></p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
             aria-controls="collapseTwo">
            Design
            <img class="down-arrow" src="../../../assets/icons/down-arrow.svg"/>
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block">
          <p class="sub-section-link"><a>Color Scheme</a></p>
          <p class="sub-section-link"><a>Typography</a></p>
          <p class="sub-section-link"><a>Animation</a></p>
          <p class="sub-section-link"><a>Border Radius</a></p>
          <p class="sub-section-link"><a>Box Shadow</a></p>
          <p class="sub-section-link"><a>Layout</a></p>
          <p class="sub-section-link"><a>Icons</a></p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
             aria-expanded="false"
             aria-controls="collapseThree">
            Components
            <img class="down-arrow" src="../../../assets/icons/down-arrow.svg"/>
          </a>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-block">
          <p class="sub-section-link"><a>Avatars</a></p>
          <p class="sub-section-link"><a>Buttons</a></p>
          <p class="sub-section-link"><a>Form Elements</a></p>
          <p class="sub-section-link"><a>Grid</a></p>
          <p class="sub-section-link"><a>Links</a></p>
          <p class="sub-section-link"><a>Lists</a></p>
          <p class="sub-section-link"><a>Modals</a></p>
          <p class="sub-section-link"><a>Popovers</a></p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingFour">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
             aria-expanded="false"
             aria-controls="collapseFour">
            Utility
            <img class="down-arrow" src="../../../assets/icons/down-arrow.svg"/>
          </a>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-block">
          <p class="sub-section-link"><a>Aspect Ratio</a></p>
          <p class="sub-section-link"><a>Center Elements</a></p>
          <p class="sub-section-link"><a>Hide Elements</a></p>
          <p class="sub-section-link"><a>Layout</a></p>
          <p class="sub-section-link"><a>Text Manipulation</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="icons">
    <a href="https://github.com/abedzantout/Baldr">
      <img class="grow" src="../../../assets/icons/github-icon.svg"/>
    </a>
    <a href="https://www.youtube.com/channel/UCA2hUlsvp15BDtTfEP-_Xyg">
      <img class="grow" src="../../../assets/icons/youtube-icon.svg"/>
    </a>
  </div>
</div>
