<div class="wrapper">
  <div class="main-section">
    <h1>Code Guidelines</h1>
    <p class="main-text">
      The bulk of our Style-guide's code consists of single-purpose classes which, as their name suggests, are classes
      that declare a single value for a single property. This division of concerns helps keep the code modular and easy
      to maintain. The main benefit of using single-purpose classes is that an engineer will know exactly how
      each class affects the markup and will be able to quickly develop or alter views without affecting others.
    </p>
    <p class="main-text">
      Our style-guide follows the Atomic Design structure. The majority of the code base consists of single purpose
      classes
      which are used to create may different atoms such as buttons and inputs. These many different atoms can be further
      combined
      together to form molecules which are components that put the atoms to good use. These components should be used in
      development
      to keep the platform's design consistent.
    </p>
  </div>

  <div class="subsection">
    <h3>File Naming</h3>
    <p class="section-text">
      All folder names for our styles should be plural while all class names should be singular.
      Additionally, files belonging to the <span class="important-text">'Atoms'</span> folder should include a <span
      class="important-text">'.atom'</span> extension while those belonging to the
      <span class="important-text">'single-purpose-classes'</span> folder should include a <span class="important-text">'.spc'</span>
      extension. So on and so fourth.
    </p>
    <div class="code-section">
      <code>
        /* Do */
        @import 'border.spc.scss';
        @import 'button.atom.scss';

        /* Don't */
        @import 'borders.scss';
        @import 'buttons.scss';
      </code>
    </div>
  </div>

  <h3>Class Names</h3>
  <p class="section-text">
    Class names should be all in lower-kebab-case meaning that capital letters are never used and words are delimited by
    hyphens.
    Their intuitive design will get all developers familiar with them as quick as possible, with some special classes
    designed
    specifically to speed up development. Class names usually follow this convention <span class="important-text">'propertyname-value'</span>.
  </p>
  <div class="code-section">
    <code>
      /* propertyname-value */
      @extend %text-color-primary;
      @extend %text-align-left;
      @extend %background-color-primary;

      /* special classes */
      @include margin-perc(5%,top,bottom,right);
      @include margin-perc(2%);
      @include padding-perc(10%,All);
    </code>
  </div>


</div>
