/* Single Purpose Class collection for background colors. */


//background colors used for the layout components. Menus, containers, sidenavs etc...
%bg-color-layout-gray{background-color: #222222;}

%bg-color-primary-gray{background-color: #666666;}

%bg-color-highlight-gray{background-color: #e5e5e5;}

%bg-color-content-white{background-color: #ffffff;}

//background colors used for action buttons and prompts
%bg-color-action-primary{background-color: #209e91;}

%bg-color-action-selected{} //TODO:get color for this class.

%bg-color-action-danger{} //TODO:get color for this class.

%bg-color-action-secondary{} //TODO:get color for this class.

