/* Single Purpose Class collection for font sizes. */

//TODO: I wont know the number of sizes or their values until at least some of the wireframes are done.

%font-size-xxl { font-size: 40px; }

%font-size-xl  { font-size: 28px; }

%font-size-l   { font-size: 20px; }

%font-size-m   { font-size: 16px; }

%font-size-s   { font-size: 14px; }

%font-size-xs  { font-size: 12px; }

%font-size-xxs { font-size: 10px; }
