/* Single Purpose Class collection for text colors. */

%text-color-primary{color: #209e91;}

%text-color-key{color: #666666;}

%text-color-value{color: #209e91;}

%text-color-action{color: #ffffff;}

%text-color-highlight{color: #222222;} //TODO: not so sure about this. Check it out later.

%text-color-secondary-action{color: #666666;} //TODO: not so sure about this. Check it our later.
