/* Single Purpose Class collection for width values. */

//TODO: I wont know the number of classes or their values until at least some of the wireframes are done.

%width-400px{
  width: 400px;
}

%width-200px{
  width: 200px;
}

%width-150px{
  width: 150px;
}

%width-300px{
  width: 300px;
}
